// Layout
// ------------------------------------

.l-section-wrapper{
	@include clearfix();
	position: relative;
	padding: 15px;

	.not-zoomed & {
	@include respond-to( 72.938em ){
		@include box-sizing("border-box");
		width: 1137px;
		margin: 0 auto;
		padding: 15px;
	}}
}

.l-row{
	@include clearfix();
	position: relative;
}

.l-col{
	@include clearfix();
	position: relative;
}