#
# Ignore backup files of emacs
*~
.DS_Store
.vagrant
.vagrant*
.bundle
cache/
plugins/database-sync/
themes/twentyfourteen/
themes/twentythirteen/
themes/twentytwelve/
themes/twentyeleven/
themes/twentyten/
themes/waq2014/.sass-cache/
wordpress/wp-config.php
wordpress/wp-content/themes/waq2014/.sass-cache
