// Base
// ------------------------------------

// Formule magique pour empêcher des bugs sur les images à causes des transitions d'opacité.
img, a{ @include experimental(transform, translateZ(0)); }

body{
	background-color: $c-bg-body
}

/* Fix for inline-block extra space issue */
ul,
ol {
	font-size: 0;
}

/* Reset child elements */
li {
	font-size: 16px;
}

img{
	max-width: 100%;
}


/*DELETE ME*/
article + article + article + article{
	display: none;
}/*DELETE ME*/