// Module
// ------------------------------------

#nav-main{
	position: relative;
	//@include transition(background, 0.2s);

	.nav-main-wrapper{
		display: none;
	}

	.snapmenu-logo{
		max-width: 45%;
		margin: 0 0 20px 5px;

		a{
			display: block;
		}
	}

	.snapmenu-mobile-buttons{
		a{
			@include inline-block;
			position: absolute;
			top: 18px;
			right: 49px;
			padding: 8px 10px 7px;
			text-decoration: none;
			text-transform: uppercase;
			color: $c-snapmenu-mobile-link;
			font: $font-snapmenu-mobile-link;
			background-color: $c-bg-snapmenu-mobile-link;
		}

		.btn-toggle-menu{
			position: absolute;
			top: 18px;
			right: 15px;
			border: none;
			z-index: 100;
			cursor: pointer;
			@include imgReplacement("icon-toggle-menu.png");
		}

		@include respond-to( 72.938em ){
			display: none;
		}
	}

	@include respond-to( 72.938em ){
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		padding-top: 30px;

		.nav-main-wrapper{
			@include clearfix();
			@include rgba-background($c-bg-navmain, 0.8);
			float: right;
			padding: 0 175px 0 20px;
			display: block;

			.l-zoomed &{
				padding-right: 20px;
			}

			li{
				//@include transition(all, 0.2s);
				display: block !important;
				float: left;
				padding: 32px 15px 28px;
				background-image: url( '#{$img-path}icon-menu-hover.png' );
				background-repeat: no-repeat;
				background-position: center emify(64px + 15px);
				height: auto !important;

				a{
					color: $c-navmain;
					font: $font-navmain !important;
					text-decoration: none;
					text-transform: uppercase;
					height: auto !important;
				}
			}

			li.isActive,
			li:hover{
				background-position: center bottom;
			}

			li.isActive{
				background-position: center bottom;
				background-image: url( '#{$img-path}icon-menu-active.png' );
			}
		}

		.snapmenu-wrapper{
			@include clearfix;
			position: relative;
		}

		.snapmenu-logo{
			//@include transition(left, 0.3s);
			display: block;
			padding: 0 0 0 15px;
			margin: 0;
			float: left;
		}
	}
}

.lt-ie9 .home{
	.l-section-wrapper{
		padding-bottom: 0;
	}
	#nav-main li{
		padding: 32px 10px 28px !important;
	}
}

.homepage .event-subscribe-menu{
	//@include transition(padding, 0.3s);
	display: none;

	.not-zoomed & {
	@include respond-to( 72.938em ){
		@include box-sizing("border-box");
		display: block;
		position: absolute;
		top: 0;
		margin-top: -30px;
		right: 15px;
		width: 145px;
		padding: 45px 20px 30px;
		color: $c-navmain-subscribe;
		font: $font-navmain-subscribe-big;
		text-decoration: none;
		background-color: $c-bg-navmain-subscribe;

		&:hover{
			background-color: #e0440e;
		}
	}}

	&:focus{
		outline-color: $c-navmain-subscribe !important;
	}
}

.single-page .event-back-link,
.single-page .event-subscribe-menu{
	display: block;
	width: 46%;

	a{
		display: table-cell;
		vertical-align: middle;
		height: 65px;
		margin: 0;
	}
}

.single-page .event-back-link{
	float: left;
	width: calc( 100% - 150px );
	background-color: $c-bg-navmain-backlink;
	background-image: url( '#{$img-path}icon-arrow-left-blue.png' );
	background-repeat: no-repeat;
	background-position: 15px center;

	a{
		padding: 0 15px 0 40px;
		text-decoration: none;
		text-transform: uppercase;
		color: $c-navmain-backlink;
		font: $font-back-link;
	}

	.not-zoomed & {
	@include respond-to( 560px ){
		width: calc( 200px + 0px );
		margin-right: 10px;

		a{
			width: calc( 145px + 0px );
		}
	}}
}

.single-page .event-subscribe-menu{
	float: right;
	width: 145px;
	background-color: $c-bg-navmain-subscribe;
	background-image: url( '#{$img-path}bg-subscribe-pattern.png' );
	background-repeat: no-repeat;
	background-position: 175% center;

	a{
		padding: 0 35px 0 15px;
		text-decoration: none;
		color: $c-navmain-subscribe;
		font: $font-navmain-subscribe-small;
		&:focus:not(.isHover){
		    outline: 2px solid black;
		}
	}

	.not-zoomed & {
	@include respond-to( 560px ){
		margin-right: 15px;
	}}
}

.event-description{
	max-width: 390px;

	.not-zoomed & {
	@include respond-to( 72.938em ){
		float: left;
	}}

	p{
		@include inline-block;
		padding: 5px 8px;
		color: $c-event-description;
		font: $font-event-description;
		@include rgba-background($c-bg-event-description, 0.8);
	}

	.strong{
		margin: 1px 0;
		padding-top: 8px;
		text-transform: uppercase;
		color: $c-event-description-strong;
		font: $font-event-description-strong;
	}

	.date{
		padding-bottom: 0;
	}
}

.event-stats{
	@include clearfix();
	font-size: 0;

	.not-zoomed & {
	@include respond-to( 72.938em ){
		float: right;
	}}

	.event-stats-group{
		@include clearfix();
		@include box-sizing("border-box");
		width: 33.3333%;
		float: left;
		font-size: 16px;
		padding-right: 2px;
		padding-bottom: 2px;

		.not-zoomed & {
		@include respond-to( 48.000em ){
			@include inline-block;
			float: none;
			width: auto;
		}}
	}

	.event-stats-group.large .stat-number{
		font-size: 2.6em;
		line-height: 0.793em;

		.not-zoomed & {
		@include respond-to( 400px ){
			font: $font-event-stats-number;
		}}
	}

	.event-stats-group.timeleft{
		width: auto;
		float: none;
		margin: 0 0 2px;
		text-align: center;
		@include rgba-background($c-bg-event-stats, 0.8);

		.stat{
			@include inline-block;
			background: none;

			.not-zoomed & {
			@include respond-to( 48.000em ){
				width: auto;
			}}
		}

		.stat + .stat .stat-number:before{
			content: ":";
		}

		.not-zoomed & {
		@include respond-to( 48.000em ){
			@include inline-block;
			margin: 0;
			padding: 0 17px;
		}}
	}

	.event-stats-group.days,
	.event-stats-group.hours,
	.event-stats-group.minutes,
	.event-stats-group.seconds{
		.stat{
			@include rgba-background($c-darkblue, 0.8);
		}
	}

	.event-stats-group.city{
		display: none;

		.not-zoomed & {
		@include respond-to( 48.000em ){
			@include inline-block;
		}}
	}

	.stat{
		padding: 10px 0;
		text-align: center;
		@include rgba-background($c-bg-event-stats, 0.8);

		.stat-number{
			display: block;
			padding: 10px 0;
			color: $c-event-stats-number;
			font: $font-event-stats-number;
		}

		.stat-caption{
			display: block;
			text-transform: uppercase;
			color: $c-event-stats-caption;
			font: $font-event-stats-caption;
		}

		.not-zoomed & {
		@include respond-to( 48.000em ){
			min-width: 76px;
			padding: 14px 10px 15px;
		}}

		.not-zoomed & {
		@include respond-to( 72.938em ){
			min-width: 80px;
			padding: 14px 10px 15px;
		}}
	}
}

.event-subscribe-big{
	max-width: 315px;
	text-decoration: none;
	font: $font-event-subscribe-big;

	.not-zoomed & {
	@include respond-to( 72.938em ){
		float: right;
		margin-top: 25px;
	}}

	a{
		display: block;
		text-transform: uppercase;
		color: $c-event-subscribe;

		&:hover span{
			background-color: #e0440e;
		}
	}

	span{
		@include clearfix();
		@include inline-block;
		padding: 0 10px;
		vertical-align: bottom;
		background-color: $c-bg-event-subscribe;
	}

	img{
		margin-top: 10px;
	}
}

.event-speakers{
	@include clearfix();

	.not-zoomed & {
	@include respond-to( 72.938em ){
		float: left;
	}}

	figure{
		position: relative;
		padding-left: 92px;
		margin-bottom: 2px;
		@include rgba-background($c-bg-event-speakers, 0.8);

		figcaption{
			padding: 23px 0 22px 10px;

			.name{
				@include clearfix();
				text-transform: uppercase;
				color: $c-event-speakers-name;
				font: $font-event-speakers-name;
			}

			.job{
				color: $c-event-speakers-job;
				font: $font-event-speakers-job;
			}
		}
	}

	a{
		color: $c-event-speakers-job;
		display: block;
		text-decoration: none;

		&:hover .name{
			text-decoration: underline;
		}
	}

	.not-zoomed & {
	@include respond-to( 48.000em ){
		figure{
			@include box-sizing("border-box");
			width: 226px;
			padding: 0;
		}

		a{
			float: left;
			padding: 190px 0 0;
		}

		a + a{
			margin-left: 15px;
		}

		figcaption{
			padding: 10px 15px;
			min-height: 69px;
		}
	}}

	.img-crop{
		position: absolute;
		left: 0;
		top: 0;
		width: auto;
		height: auto;
		max-width: 92px;
		max-height: 92px;
		overflow: hidden;
		text-align: center;

		.not-zoomed & {
		@include respond-to( 48.000em ){
			max-width: 100%;
			max-height: 190px;
			left: 0;
			top: -190px;
		}}
	}

	.not-zoomed & .speaker-thumb{
		max-height: 100%;
		max-width: none;
	}
}

.contact-element{
	span{
		color: $c-contactelement;
		display: block;

		a{
			text-decoration: none;
			color: $c-contactelement-link;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	.name{
		text-transform: uppercase;
		font: $font-contactelement-name;
	}

	.telephone,
	.adresse{
		text-transform: uppercase;
		font: $font-contactelement-telephone;
	}

	.email,
	.link{
		text-transform: none;
		font: $font-contactelement-email;

		a{
			text-transform: none;
		}
	}
}

.blog-wrapper{
	position: relative;
	margin: 20px auto 30px;
	border-top: 1px solid $c-blog-wrapper-border;
	border-bottom: 1px solid $c-blog-wrapper-border;

	.js-slider-container{
		@media only screen and (max-width: 767px) {
			width: 100% !important;
		}
	}

	.load-more{
		border: none;
		padding: 8px 15px;
		margin: 2px auto 10px;
		text-transform: uppercase;
		font: $font-newsletter-input-submit;
		color: $c-newsletter-input-submit;
		background-color: $c-newsletter-border;
		cursor: pointer;
		width: emify(216px);
		text-align: center;
		position: relative;
		left: 50%;
		margin-left: emify(-108px);

		.not-zoomed & {
		@include respond-to( 48.000em ){
			display: none;
		}}
	}

	article{
		margin-bottom: 20px;

		/* &:hover .article-thumb:after{
			display: none;
		} */

		.not-zoomed & {
		@include respond-to( 48.000em ){
			display: block !important;

			&:hover .article-thumb:after{
				opacity: 0;
			}

			&:hover .article-title a{
				color: white;
			}

			&:hover .article-content{
				color: white;
			}
		}}
	}

	.article-header{
		position: relative;
		padding-top: 15px;
		margin: 10px 0;
	}

	.article-title{
		margin: 5px 0 0;
		font: $font-blog-title;

		.not-zoomed & {
		@include respond-to( 72.938em ){
			font-size: emify(30px);

		}}

		a{
			color: $c-blog-title;
			text-decoration: none;
			@include transition-property(color);
			@include transition-duration(0.5s);

			&:hover{
				color: white;
				text-decoration: underline;
			}
		}
	}

	.article-date{
		color: $c-blog-date;
		font: $font-blog-date;
		position: absolute;
		top: 0;
	}

	.article-thumb{
		@include inline-block;
		position: relative;
		font-size: 0;
		max-width: 100%;
		margin: 0 0 10px;

		img{
			max-width: 100%;
		}

		&:after{
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 1;
			@include rgba-background(#00baff, 0.5);
			@include transition-property(opacity);
			@include transition-duration(0.5s);
		}
	}

	.article-content{
		display: none;

		.not-zoomed & {
		@include respond-to( 48.000em ){
			display: block;
			color: $c-blog-content;
			font: $font-blog-content;
			@include transition-property(color);
			@include transition-duration(0.5s);
		}}
	}

	.article-readmore{
		display: none;

		.not-zoomed & {
		@include respond-to( 48.000em ){
			display: block;
			margin-top: 10px;
			font: $font-blog-content;

			a{
				color: $c-blog-content;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}
		}}
	}

	.blog-nav{
		display: none;
		height: 0;
		text-align: center;

		.not-zoomed & {
		@include respond-to( 72.938em ){
			text-align: right;
		}}

		.prev,
		.next{
			position: absolute;
			top: 50%;
			border: none;
			cursor: pointer;
			background: transparent;
		}

		.prev{
			display: none;

			.not-zoomed & {
			@include respond-to( 48.000em ){
				@include imgReplacement("icon-arrow-blog-left.png");
				margin-top: ceil( image-height("icon-arrow-blog-left.png") / 2 * -1 );
				left: 1%;
			}}
		}

		.next{
			display: none;

			.not-zoomed & {
			@include respond-to( 48.000em ){
				@include imgReplacement("icon-arrow-blog-right.png");
				margin-top: ceil( image-height("icon-arrow-blog-right.png") / 2 * -1 );
				right: 1%;
			}}
		}

		.button-page{
			@include inline-block;
			position: relative;
			width: 22px;
			padding: 0;
			top: 5px;
			border: none;
			cursor: pointer;
			text-align: center;
			color: $c-blog-nav;
			font: $font-blog-nav;
			background-color: $c-bg-blog-nav;

			&:hover,
			&.isActive{
				color: $c-bg-blog-nav;
				background-color: $c-blog-nav;
			}
		}
	}
}

.not-zoomed .blog-wrapper .js-slider{
	margin: 15px auto;

	@include respond-to( 48.000em ){
		$width 				: 600px;
		$margin 			: 20px;
		$nbSlides 			: 5;
		$displayedSlides 	: 1;
		@include js-slider ( $width, $margin, $nbSlides, $displayedSlides );

		article{
			.article-thumb{
				float: left;
				width: 48%;
			}
			.article-thumb + .article-content{
				float: left;
				width: 50%;
				margin-left: 2%;
			}
		}
	}

	@include respond-to( 64.000em ){
		$width 				: 850px;
		$margin 			: 20px;
		$nbSlides 			: 5;
		$displayedSlides 	: 3;
		@include js-slider ( $width, $margin, $nbSlides, $displayedSlides );

		article{
			.article-thumb{
				float: none;
				width: auto;
			}
			.article-thumb + .article-content{
				float: none;
				width: auto;
				margin-left: 0;
			}
		}
	}

	@include respond-to( 72.938em ){
		$width 				: 975px;
		$margin 			: 20px;
		$nbSlides 			: 5;
		$displayedSlides 	: 3;
		@include js-slider ( $width, $margin, $nbSlides, $displayedSlides );

		padding: 10px 0;
	}

	& + .blog-nav{
		@include respond-to( 48.000em ){
			display: block;

			.button-page{
				display: none;
			}

			.button-page{
				@include respond-to( 64.000em ){
					@include inline-block;
					margin: 2px;
				}
			}
		}
	}
}

.no-js .not-zoomed .blog-wrapper .js-slider{
	margin: 15px auto;

	.js-slider-container{
		width: auto !important;
	}

	.slide{
		left: 0 !important;
		width: auto !important;
	}

	& + .blog-nav{
		display: none;
	}
}

.sponsors-group{
	margin: 20px 0;

	.not-zoomed & {
	@include respond-to( 72.938em ){
		margin: 20px 0 50px;
	}}

	header{
		margin: 0 0 10px;
		position: relative;
	}

	h3{
		color: $c-sponsors-h3;
		font: $font-sponsors-h3;
		text-transform: uppercase;
		background-color: $c-bg-body;

		span{
			z-index: 1;
			position: relative;
			padding-right: 13px;
			background-color: $c-bg-body;
		}

		&:after{
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 50%;
			width: 100%;
			height: 1px;
			margin-top: -1px;
			background-color: $c-sponsors-border;
		}
	}

	.sponsors-list{
		@include clearfix();

		li{
			@include inline-block;
			width: 50%;
			margin: 10px 0;

			img{
				max-width: 90%;
				margin: 0 5%;
			}

			a{
				display: block;
			}

			.not-zoomed & {
			@include respond-to( 560px ){
				width: 33.333%;
			}}

			.not-zoomed & {
			@include respond-to( 48.000em ){
				width: 25%;
			}}

			.not-zoomed & {
			@include respond-to( 72.938em ){
				width: auto;
				margin: 10px 25px;
			}}
		}
	}

	&.principal{

		.sponsors-list li{
			width: 100%;
			text-align: center;

			img{
				margin: 0;
				max-width: 100%;
			}

			.not-zoomed & {
			@include respond-to( 560px ){
				width: 50%;
			}}

			.not-zoomed & {
			@include respond-to( 72.938em ){
				width: 25%;
				margin: 10px 0;
			}}
		}
	}
}

.organizers-group{
	margin: 30px 0 20px;

	h3{
		color: $c-about-h3;
		font: $font-about-h3;
		text-transform: uppercase;
	}

	.organizers-list{
		@include clearfix();
		margin: 8px 0 0;

		li{
			@include inline-block;
			@include box-sizing("border-box");
			width: 100%;
			margin: 2px 0 0;
			padding: 7px 0 6px 51px;
			position: relative;
			@include rgba-background(#ffffff, 0.1);

			figcaption{
				padding-left: 10px;
				color: $c-about-figcaption;
				font: $font-about-figcaption;

				span{
					display: block;
				}
			}

			img{
				position: absolute;
				left: 0;
				top: 0;
			}

			.not-zoomed & {
			@include respond-to( 560px ){
				width: 49%;
				margin-right: 1%;

				&:nth-child(2n){
					width: 50%;
					margin-right: 0;
				}
			}}

			.not-zoomed & {
			@include respond-to( 48.000em ){
				width: 32.3%;
				margin-right: 1%;

				&:nth-child(2n){
					width: 32.3%;
					margin-right: 1%;
				}

				&:nth-child(3n){
					width: 33.3%;
					margin-right: 0;
				}
			}}

			.not-zoomed & {
			@include respond-to( 72.938em ){
				width: 183px;
				margin-right: 15px;
				margin-bottom: 10px;

				&:nth-child(1n){
					width: 183px;
					margin-right: 15px;
				}

				&.last-4{
					margin-right: 0;
				}
			}}

			.not-zoomed &:hover {
			@include respond-to( 72.938em ){

				.overlay{
					opacity: 1;
				}
			}}
		}
	}

	.overlay{
		opacity: 0;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		padding: 11px 0;
 		background-color: rgba(#fff, 0.9);
        @include transition(opacity, 0.3s);
        @include experimental(transform, translateZ(0));

        img{
        	@include experimental(transform, translateZ(0));
        }
	}
}

.volunteers-list{

	li{
		@include inline-block;
		margin: 2px 2px 0 0;
		padding: 2px 5px;
		background-color: $c-bg-highlight;

		span{
			color: $c-about-volunteers;
			font: $font-about-volunteers;
		}
	}
}

aside.highlight{
	padding: 20px;
	margin-bottom: 35px;
	background-color: $c-bg-aside-highlight;

	h2{
		.small{
			display: block;
			color: $c-single-aside-title-small;
			font: $font-single-aside-title-small;
		}

		.big{
			display: block;
			text-transform: none;
			color: $c-single-aside-title-big;
			font: $font-single-aside-title-big;
		}
	}

	.content p{
		margin: 0.75em 0;
		color: $c-single-aside-content;
		font: $font-single-aside-content !important;

		a{
			color: #fff;
			text-decoration: none;

			&:hover{
				text-decoration: underline;
			}
		}
	}

	ul{
		list-style-type: none;
	}

	.social{
		font-size: 16px;

		li{
			height: 25px;
			padding-left: 30px;
			background-repeat: no-repeat;
			background-position: center left;
			list-style-type: none;

			a{
				color: $c-single-aside-social;
				font: $font-single-aside-content;
				line-height: 25px;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}
		}

		.website{
			background-image: url( '#{$img-path}icon-browser.png' );
		}

		.twitter{
			background-image: url( '#{$img-path}icon-twitter.png' );
		}
	}
}