// Schedule
// ------------------------------------

.facebook-connect{
	@include clearfix;
	width: 100%;
	clear: both;
	margin: 0 0 30px;
	position: relative;
	top: -5px;
	font: 400 emify(15px, 17px, 16px) 'Roboto', sans-serif;

	.no-js &{
		display: none;
	}

	em{
		font-style: italic;
	}

	p{
		padding: 5px 0 0 20px;
		float: left;
	}

	button{
		float: left;
		border: none;
		padding: 8px 15px;
		margin: 2px 0 0;
		font: $font-newsletter-input-submit;
		color: $c-newsletter-input-submit;
		background-color: $c-linkblue;
		font-weight: 400;
		cursor: pointer;

		&:hover{
			padding: 5px 12px;
			background-color: $c-newsletter-input-submit;
			color: $c-linkblue;
			border: 3px solid $c-linkblue;
		}
	}
}

.js .schedule-wrapper .js-slider{
	$width 				: 100%;
	$margin 			: 0;
	$nbSlides 			: 3;
	$displayedSlides 	: 1;
	@include js-slider ( $width, $margin, $nbSlides, $displayedSlides );

	.slide{
		width: 33.3333%;
	}
}

.js .schedule-wrapper .days-buttons{
	@include clearfix;
	display: block;
	margin: 0;
	//padding: 20px 15px 5px;
	font-size: 0;
	//background-color: $c-bg-schedule-highlight;

	.not-zoomed & {
	@include respond-to( 64.000em ){
		padding: 0;
		background-color: transparent;
	}}

	button{
		@include inline-block;
		@include border-radius(3px);
		@include box-sizing("border-box");
		width: 32%;
		width: calc(33.3333% - 2px);
		width: -webkit-calc(33.3333% - 2px);
		padding: 7px 5px;
		border: none;
		margin: 8px 1px;
		font-size: 16px;
		cursor: pointer;
		color: $c-schedule-days-buttons;
		background-color: $c-bg-schedule-days-buttons;

		.not-zoomed & {
		@include respond-to( 48.000em ){
			padding: 15px 5px;
		}}

		.not-zoomed & {
		@include respond-to( 72.938em ){
			width: 377px;
		}}

		span{
			font: $font-schedule-days-buttons;
		}
	}

	button.isActive{
		position: relative;
		margin: 0 1px 0;
		padding: 15px 5px 13px;
		font-weight: bold;
		background-color: $c-bg-schedule-days-buttons-active;

		.not-zoomed & {
		@include respond-to( 48.000em ){
			margin: 0 1px 2px;
			padding: 23px 5px 21px;
		}}

		/* &:after{
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			bottom: -12px;
			margin-left: -20px;
			width: 39px;
			height: 12px;
			background-image: url( '#{$img-path}icon-daybutton-arrow-bottom.png' );
			z-index: 9999;
		} */
	}
}

.schedule-wrapper{
	margin: 0 -15px 40px;

	table{
		display: block;

		.not-zoomed & {
		@include respond-to( 64.000em ){
			display: table;
			width: 100%;
		}}
	}

	caption{
		display: none;

		.no-js &{
			display: table-caption;
			color: $c-schedule-rooms;
			font: $font-schedule-rooms;
			font-size: emify(30px);
			padding-bottom: 20px;
		}
	}

	thead{
		display: none;

		.not-zoomed & {
		@include respond-to( 64.000em ){
			display: table-header-group;
		}}
	}

	tbody{
		display: block;

		.not-zoomed & {
		@include respond-to( 64.000em ){
			display: table-row-group;
		}}
	}

	tr{
		display: block;

		.not-zoomed & {
		@include respond-to( 64.000em ){
			display: table-row;
		}}
	}

	th{
		display: block;

		.not-zoomed & {
		@include respond-to( 64.000em ){
			display: table-cell;
		}}
	}

	td{
		display: block;
		border-bottom: 1px solid $c-schedule-border;

		.not-zoomed & {
		@include respond-to( 64.000em ){
			display: table-cell;
			vertical-align: middle;
		}}
	}

	.slide:first-child,
	.slide:first-child th{
		position: relative;
		z-index: 100;
		background-color: white;
	}

	// ------------------------------------

	.day-wrapper{
		.not-zoomed & {
		@include respond-to( 64.000em ){
			padding-top: 30px;
			background-color: white;
		}}
	}

	th{
		color: $c-schedule-rooms;
		font: $font-schedule-rooms;
		text-transform: uppercase;
		text-align: left;
		padding: 10px 0 10px 30px;
		background-repeat: repeat-y;
		background-position: 0;
		border-bottom: 1px solid $c-schedule-border;
	}

	th.column_salle-libeo{
		background-image: url( '#{$img-path}bg-schedule-libeo.png' );
	}

	th.column_salle-ixmedia{
		background-image: url( '#{$img-path}bg-schedule-ixmedia.png' );
	}

	th.column_salle-bell{
		background-image: url( '#{$img-path}bg-schedule-bell.png' );
	}

	th.column_salle-deloitte{
		background-image: url( '#{$img-path}bg-schedule-deloitte.png' );
	}

	th:first-child{
		background: none;
	}

	.days-buttons{
		@include clearfix;
		margin: 0;
		padding: 20px 15px 0;
		font-size: 0;
		background-color: $c-bg-schedule-highlight;

		.no-js &{
			display: none;
		}

		@include respond-to( 1024px ){
			padding: 0;
			background-color: transparent;
		}

		button{
			@include inline-block;
			@include border-radius(3px);
			@include box-sizing("border-box");
			width: 32%;
			width: calc(33.3333% - 2px);
			padding: 7px 5px;
			border: none;
			margin: 8px 1px;
			font-size: 16px;
			cursor: pointer;
			color: $c-schedule-days-buttons;
			background-color: $c-bg-schedule-days-buttons;

			@include respond-to( 768px ){
				padding: 15px 5px;
			}

			span{
				font: $font-schedule-days-buttons;
			}
		}

		button.isActive{
			margin: 0 1px 0;
			padding: 15px 5px 13px;
			font-weight: bold;
			background-color: $c-bg-schedule-days-buttons-active;

			@include respond-to( 768px ){
				margin: 0 1px 2px;
				padding: 23px 5px 21px;
			}
		}
	}

	.time-slot{
		position: relative;
		padding: 20px 15px 8px;
		color: $c-schedule-timeslot;
		font: $font-schedule-timeslot;
		background-color: white;
		z-index: 10;
		vertical-align: top;

		.not-zoomed & {
		@include respond-to( 64.000em ){
			width: 7%;
			text-align: center;
			padding: 15px 0 8px;
			font-size: emify(16px);
		}}

		.time-slot-end{
			.not-zoomed & {
			@include respond-to( 64.000em ){
				display: none;
			}}
		}
	}

	.session{
		background-color: white;
		background-image: url( '#{$img-path}bg-schedule-default.png' );
		background-repeat: repeat-y;
		background-position: center left;
        @include transition(opacity, 0.3s);

		.not-zoomed & {
		@include respond-to( 64.000em ){
			width: 23.25%;
			//border-left: 1px solid transparent;
		}}

		.session-wrapper{
			position: relative;
		}

		.session-content{
			padding: emify(30px 35px 12px 25px);
			background-repeat: repeat-y;
			background-position: center left;

			.not-zoomed & {
			@include respond-to( 64.000em ){
				padding: emify(20px 35px 0 25px);
				display: table-cell;
				vertical-align: middle;
				height: emify(110px - 20px);
				width: emify(400px);
			}}
		}

		.session-content-wrapper{
			position: relative;
		}

		.session-title{
			font: $font-schedule-title;

			a{
				text-decoration: none;
				color: $c-schedule-title;

				&:hover{
					text-decoration: underline;
				}

				&:focus{
					display: block;
				}
			}
		}

		.session-speaker,
		.session-description{
			display: block;
			color: $c-schedule-speaker;
			font: $font-schedule-speaker;
		}

		span.session-speaker,
		.session-description,
		.session-speaker figcaption{
			position: absolute;
			top: emify(-20px);
		}

		&.no-speaker .session-content{
			padding: emify(12px 65px 12px 25px);

			.not-zoomed & {
			@include respond-to( 64.000em ){
				padding: emify(0 40px 0 25px);
				height: emify(110px);
			}}
		}

		.session-speaker-thumb{
			display: none;
		}

		.session-room{
			display: block;
			padding: emify(8px 0 0);
			margin-right: 10px;
			color: $c-schedule-room;
			font: $font-schedule-room;
			text-transform: uppercase;

			.not-zoomed & {
			@include respond-to( 64.000em ){
				display: none;
				padding: 0;
			}}
		}

		.session-time-slot{
			display: none;

			.not-zoomed & {
			@include respond-to( 64.000em ){
				@include inline-block;
				color: $c-schedule-time;
				font: $font-schedule-time;
			}}
		}

		.session-bookmark{
			position: absolute;
			top: 0;
			right: 14px;
			border: none;
			background: none;
			cursor: pointer;
			@include imgReplacement("icon-bookmark-small.png");
		}

		.session-bookmark.isActive{
			@include imgReplacement("icon-bookmark-small-active.png");
		}

	}

	.session[rowspan="2"] .session-content{
		.not-zoomed & {
		@include respond-to( 64.000em ){
			height: emify(100px * 2 + 1);
		}}
	}

	.session[rowspan="3"] .session-content{
		.not-zoomed & {
		@include respond-to( 64.000em ){
			height: emify(100px * 3 + 2);
		}}
	}

	.session[rowspan="4"] .session-content{
		.not-zoomed & {
		@include respond-to( 64.000em ){
			height: emify(100px * 4 + 3);
		}}
	}

	.session.keynote{
		background-color: $c-bg-schedule-highlight;

		.not-zoomed & {
		@include respond-to( 64.000em ){
			padding: 15px;
			background-color: white;
			background-image: none !important;
			border-left: 1px solid $c-schedule-border;
		}}

		.session-content{
			padding: 30px 35px 12px 25px;

			.not-zoomed & {
			@include respond-to( 64.000em ){
				width: 2000px;
				height: emify(160px - 28px);
				padding: 30px 35px 12px 50px;
				background-color: $c-bg-schedule-highlight;
			}}
		}

		&.speaker-thumb .session-content{
			padding: emify(30px) 35px emify(12px) 120px;

			.not-zoomed & {
			@include respond-to( 48.000em ){
				padding: emify(30px) 35px emify(12px) 130px;
			}}

			.not-zoomed & {
			@include respond-to( 64.000em ){
				padding: emify(28px) 65px emify(0) 230px;
			}}
		}

		.session-title{
			display: block;
			font: $font-schedule-keynote-title;

			.not-zoomed & {
			@include respond-to( 64.000em ){
				font-size: emify(30px);
			}}
		}

		.session-speaker{
			top: emify(-28px);
			font: $font-schedule-keynote-speaker;
		}

		.session-room{
			.not-zoomed & {
			@include respond-to( 64.000em ){
				@include inline-block;
				font: $font-schedule-keynote-room;
			}}
		}

		.session-speaker-thumb{
			display: block;
			position: absolute;
			left: 15px; top: 0;
			max-width: 92px;
			max-height: 92px;

			.not-zoomed & {
			@include respond-to( 48.000em ){
				top: 0;
				max-width: 100px;
				max-height: 86px;
			}}

			.not-zoomed & {
			@include respond-to( 64.000em ){
				top: 0;
				max-width: 187px;
				max-height: 160px;
			}}
		}

		.session-bookmark{
			@include imgReplacement("icon-bookmark-small.png");

			.not-zoomed & {
			@include respond-to( 72.938em ){
				@include imgReplacement("icon-bookmark-big.png");
			}}
		}

		.session-bookmark.isActive{
			@include imgReplacement("icon-bookmark-big-active.png");
		}

		&.no-speaker .session-content{

			.not-zoomed & {
			@include respond-to( 64.000em ){
				padding: 0 65px 0 50px;
			}}

		}

	}

	.session.break{
		height: auto;
		padding: 0;
		background: none;
		text-align: center;

		.not-zoomed & {
		@include respond-to( 64.000em ){
			padding: 15px;
			border-left: 1px solid $c-schedule-border;
		}}

		.session-content{
			.not-zoomed & {
			@include respond-to( 64.000em ){
				width: 2000px;
				height: 140px;
				background-color: $c-bg-schedule-highlight;
			}}
		}

		.session-title{
			font: $font-schedule-panel-speaker;

			&, a{
				color: $c-schedule-speaker;
			}
		}

		button{
			display: none;
		}
	}

	.session.break.small{

		.not-zoomed & {
		@include respond-to( 64.000em ){
			padding: 0;
		}}

		.session-content{
			.not-zoomed & {
			@include respond-to( 64.000em ){
				height: 75px;
				background-color: transparent;
			}}
		}
	}

	.session.bookmarked{

		.session-content{
			background-color: $c-bg-schedule-bookmarked !important;
		}

		.session-title a,
		.session-speaker,
		.session-content,
		.session-description,
		.session-time-slot,
		.session-room{
			color: $c-white;
		}

		.session-bookmark{
			@include imgReplacement("icon-bookmark-small-active.png");
		}

		.not-zoomed & {
		@include respond-to( 48.000em ){
			&.keynote .session-bookmark{
				@include imgReplacement("icon-bookmark-big-active.png");
			}
		}}

	}

	.session:hover,
	.session:focus,
	.session.isHover,
	.session.isFocus{
		opacity: 1 !important;
	}

	.session.salle-grand-hall .session-content{
		background-image: url( '#{$img-path}bg-schedule-default.png' );
	}

	.session.salle-libeo .session-content{
		background-image: url( '#{$img-path}bg-schedule-libeo.png' );
	}

	.session.salle-ixmedia .session-content{
		background-image: url( '#{$img-path}bg-schedule-ixmedia.png' );
	}

	.session.salle-bell .session-content{
		background-image: url( '#{$img-path}bg-schedule-bell.png' );
	}

	.session.salle-deloitte .session-content{
		background-image: url( '#{$img-path}bg-schedule-deloitte.png' );
	}

	td.empty{
		border-left: 1px solid $c-schedule-border;
	}

}