// Theme
// ------------------------------------

.l-page-wrapper{
	border-width: 5px;
	border-style: solid;
	border-color: $c-bg-pagewrapper;
	//@include transition(border-color, 0.5s);

	.not-zoomed & {
	@include respond-to(768px){
		border-width: 15px;
	}}

	&.highlight-libeo{
		border-color: $c-libeo;
	}

	&.highlight-ixmedia{
		border-color: $c-ixmedia;
	}

	&.highlight-bell{
		border-color: $c-bell;
	}

	&.highlight-deloitte{
		border-color: $c-deloitte;
	}

	&.highlight-grand-hall{
		border-color: $c-grandhall;
	}
}

.homepage .home{
	background-image: url( '#{$img-path}bg-header-fallback.png' );
	background-position: -150px 0;
	background-size: cover;

	#video_background{
		display: none;
	}

	.not-zoomed & {
	@include respond-to( 72.938em ){
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 100% 100%;

		.l-section-wrapper{
			padding-top: 170px;
		}
	}}
}

.video .home{
	.not-zoomed & {
	@include respond-to( 72.938em ){
		background-position: center -15px;
		background-size: auto auto;
		background-image: url( '#{$img-path}bg-home-video.png' );
	}}
}

.video .home #video_background{
	.not-zoomed & {
	@include respond-to( 72.938em ){
		display: block;
		position: absolute;
		bottom: 0px;
		right: 0px;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -1000;
		overflow: hidden;
	}}
}

.single-page .home{
	margin: 10px 0 0;
	background-color: $c-linkblue;

	.not-zoomed & {
	@include respond-to( 560px ){
		.l-section-wrapper{
			padding: 0;
		}
		.event-logo{
			float: left;
			margin: 11px 15px;
		}
	}}

	.not-zoomed & {
	@include respond-to( 48.000em ){
		margin: 20px 0;
	}}

}

// Sections
// ------------------------------------

.home{
	@include clearfix();

	.event-description{
		margin-bottom: 28px;

		.not-zoomed & {
		@include respond-to( 72.938em ){
			margin-bottom: 60px;
		}}
	}

	.event-stats{
		margin-bottom: 20px;

		.not-zoomed & {
		@include respond-to( 72.938em ){
			margin-bottom: 60px;
		}}
	}

	.event-speakers{
		margin-top: 20px;

		.not-zoomed & {
		@include respond-to( 72.938em ){
			margin-top: 0;
			margin-bottom: 60px;
		}}
	}

} // home

.schedule{
	@include clearfix();
	position: relative;
	border-top: 13px solid $c-schedule-border-top;
	border-bottom: 13px solid $c-schedule-border-bottom;

	.not-zoomed & {
	@include respond-to( 64.000em ){
		background-color: $c-bg-schedule-highlight;

		&:before{
			display: block;
			height: 208px;
			width: 100%;
			position: absolute;
			left: 0; top: 0;
			background-color: $c-white;
		}
	}}

	h2{
		color: $c-schedule-h2;
		font: $font-schedule-h2;
		text-transform: uppercase;

		.not-zoomed & {
		@include respond-to( 64.000em ){
			float: left;
			margin: 40px 0;
			font-size: emify(72px);
		}}
	}

	header{
		@include clearfix;
	}

	.schedule-filters{

		.not-zoomed & {
		@include respond-to( 64.000em ){
			float: left;
			margin: 40px 0 0 75px;
			padding: 2px 0 2px 15px;
			border-left: 2px solid $c-schedule-filters-border;
		}}

		h3{
			color: $c-schedule-filters-h3;
			font: $font-schedule-filters-h3;
		}

		.toggle-filters{
			margin: 10px 0 3px;
			position: relative;

			.not-zoomed & {
			@include respond-to( 64.000em ){
				margin-top: 0;
			}}

			h3{
				line-height: 32px;

				.not-zoomed & {
				@include respond-to( 64.000em ){
					line-height: 18px;
				}}
			}

			.btn-toggle-filters{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 32px;
				border: none;
				cursor: pointer;
				background-color: transparent;
				background-image: url( '#{$img-path}icon-more.png' );
				background-repeat: no-repeat;
				background-position: 210px center;

				.not-zoomed & {
				@include respond-to( 64.000em ){
					display: none;
				}}

				&.isActive{
					background-image: url( '#{$img-path}icon-less.png' );
				}
			}
		}

		ul{
			font-size: 16px;
			display: none;
			margin: 0 -15px;
			padding: 18px 15px 20px;
			background-color: $c-bg-schedule-filters-ul;

			.not-zoomed & {
			@include respond-to( 64.000em ){
				display: block !important;
				margin: 0;
				padding: 0;
				width: emify(450px, 16px);
				background-color: transparent;
			}}

			li{
				@include inline-block;
				margin: 2px 2px 0 0;

				.not-zoomed & {
				@include respond-to( 64.000em ){
					margin: 6px 6px 0 0;
				}}
			}

			button{
				margin: 0;
				border: none;
				padding: 6px 8px;
				text-transform: uppercase;
				color: $c-schedule-filters-li;
				font: $font-schedule-filters-li;
				background-color: $c-bg-schedule-filters-li;
				cursor: pointer;
			}

			button:hover,
			button.isActive{
				color: $c-schedule-filters-hover;
				background-color: $c-bg-schedule-filters-hover;

				.not-zoomed & {
				@include respond-to( 64.000em ){
					color: $c-schedule-filters-li;
					background-color: $c-bg-schedule-filters-hover-dark;
				}}
			}

			button.isActive{
				font-weight: 700;
			}
		}
	}

} // schedule

.place{
	position: relative;

	.not-zoomed & {
	@include respond-to( 72.938em ){
		min-height: 520px;
	}}

	.l-section-wrapper{
	    
		padding-bottom: 10px;

		.not-zoomed & {
		@include respond-to( 72.938em ){
			padding: 50px 15px 0;
			
		    position: absolute;
		    top: 0;
		    z-index: 100;
		    pointer-events: none;
		    width: 100%;
		    
		    & > div{
		        margin: 0 auto;
		        max-width: 1137px;
		    }
		}}
	}

	h2{
		font: $font-place-h2;
		text-transform: uppercase;
	}

	header{
		max-width: 320px;
		margin-top: 10px;
		min-height: 320px - 15px - 10px;

		.not-zoomed & {
		@include respond-to( 72.938em ){
			max-width: none;
			min-height: 0;
			margin-top: 0;
		}}

		h2{
			color: $c-place-header-h2;

			.not-zoomed & {
			@include respond-to( 72.938em ){
				@include inline-block;
				float: left;
				padding: 7px 15px 6px;
				font-size: emify(48px);
				background-color: $c-bg-place-header-h2;
			}}

			span{
				padding: 0 6px;
				background-color: $c-bg-place-header-h2;

				.not-zoomed & {
				@include respond-to( 72.938em ){
					padding: 0;
					background-color: transparent;
				}}
			}
		}

		.route{
			position: relative;
			top: 6px;
			padding: 1px 6px;
			text-decoration: none;
			text-transform: uppercase;
			color: $c-place-header-route;
			font: $font-place-header-route;
			background-color: $c-bg-place-header-route;

			.not-zoomed & {
			@include respond-to( 72.938em ){
				display: none;
			}}
		}
	}

	.place-wrapper{
	    
	    pointer-events: auto;

		.not-zoomed & {
		@include respond-to( 72.938em ){
			float: right;
		}}

		.contact{
			@include clearfix();
			margin: 5px -15px;
			padding: 15px 15px 10px;
			border-top: 1px solid $c-place-border;
			border-bottom: 1px solid $c-place-border;

			.not-zoomed & {
			@include respond-to( 72.938em ){
				background-color: $c-bg-place;
				border: 1px solid $c-place-border;
			}}

			h2{
				color: $c-contactelement;
				font-size: emify(48px);
			}

			.contact-element{
				.not-zoomed & {
				@include respond-to( 580px ){
					width: 50%;
					float: left;
				}}
				.not-zoomed & {
				@include respond-to( 72.938em ){
					width: auto;
					float: none;
				}}
			}
		}

		.newsletter{
			@include clearfix();
			margin: 5px -15px;
			padding: 15px 15px 20px;
			background-color: $c-bg-place-newsletter;

			h2{
				text-transform: none;
				font: $font-place-h2-newsletter;
				color: $c-place-header-h2-newsletter;
			}

			form{
				font-size: 0;

				& > div{
					font-size: 16px;
				}
			}

			.input-email{
				@include box-sizing("border-box");
				width: 100%;
				padding: 4px;
				margin: 10px 0 0;
				text-transform: uppercase;
				font: $font-newsletter-input-text;
				color: $c-newsletter-input-text;
				border: 3px solid $c-newsletter-border;
			}

			.input-submit{
				border: none;
				padding: 8px 15px;
				margin: 2px 0 0;
				text-transform: uppercase;
				font: $font-newsletter-input-submit;
				color: $c-newsletter-input-submit;
				background-color: $c-newsletter-border;
			}

			.field{
				.not-zoomed & {
				@include respond-to( 560px ){
					@include inline-block;
					width: 75%;
					margin-right: 5px;
					vertical-align: bottom;
				}}
				.not-zoomed & {
				@include respond-to( 1137px ){
					width: 255px;
				}}
			}

			.buttons{
				.not-zoomed & {
				@include respond-to( 560px ){
					@include inline-block;
					vertical-align: bottom;
				}}
			}
		}

		.contact,
		.newsletter{
			.not-zoomed & {
			@include respond-to( 72.938em ){
				margin: 0;
			}}
		}

		.contact-element{
			margin: 15px 0;
		}
	}

	.googlemap{
		width: 100%;
		min-height: 320px;
		position: absolute;
		top: 0;
		//background-image: url( '#{$img-path}bg-map.png' );
		//background-position: center center;
		//background-size: cover;
		z-index: -1;
		
		#gmap{
		    min-height: 320px;
		    img{
		        max-width: none;
		    }
		}

		.not-zoomed & {
		@include respond-to( 72.938em ){
			min-height: 520px;
			
			position: static;
            
            			
			#gmap{
			    min-height: 520px;
			}
		}}
	}
} // place

.blog{
	background-color: $c-bg-blog;
	background-image: url( '#{$img-path}bg-strip-dark.png' );
	background-position: 33% top;
	border-top: 13px solid $c-blog-border;
	border-bottom: 13px solid $c-blog-border;

	.not-zoomed & {
	@include respond-to( 72.938em ){
		background-position: 33% 21%;
	}}

	h2{
		color: $c-blog-h2;
		font: $font-blog-h2;
		text-align: center;
		text-transform: uppercase;

		.not-zoomed & {
		@include respond-to( 72.938em ){
			font-size: emify(72px);
		}}
	}

} // blog

.sponsors{

	h2{
		margin: 5px 0 25px;
		color: $c-sponsors-h2;
		font: $font-sponsors-h2;
		text-transform: uppercase;

		.not-zoomed & {
		@include respond-to( 72.938em ){
			font-size: emify(72px);
			margin: 15px 0 25px;
		}}
	}

} // sponsors

.about{
	background-color: $c-bg-about;
	background-image: url( '#{$img-path}bg-strip-light.png' );
	background-position: 30% top;
	border-top: 13px solid $c-about-border;
	border-bottom: 13px solid $c-about-border;

	h2{
		margin: 10px 0;
		color: $c-about-h2;
		font: $font-about-h2;
		text-transform: uppercase;

		.not-zoomed & {
		@include respond-to( 72.938em ){
			margin: 20px 0 10px;
			font-size: emify(72px);
		}}
	}

	p{
		color: $c-about-p;
		font: $font-about-p;

		.not-zoomed & {
		@include respond-to( 72.938em ){
			font-size: emify(20px);
			line-height: emify(24px, 20px);
		}}
	}

	p.strong{
		font: $font-about-p-strong;

		.not-zoomed & {
		@include respond-to( 72.938em ){
			font-size: emify(20px);
		}}
	}

	.highlight{
		padding: 15px;
		background-color: $c-bg-highlight;

		p{
			font: $font-about-highlight-p;
		}

		p.strong{
			text-transform: uppercase;
			font: $font-about-highlight-p-strong;
		}
	}

	.not-zoomed & {
	@include respond-to( 72.938em ){

		.l-col{
			float: left;
			width: 777px;
		}

		.l-col + .l-col{
			width: 315px;
			margin-left: 15px;
		}
	}}

} // about

.single-page .page-content{

	.not-zoomed & {
	@include respond-to( 72.938em ){
		margin-top: 40px;
	}}

	.l-col{

		.not-zoomed & {
		@include respond-to( 72.938em ){
			float: left;
			width: 710px;
		}}
	}

	.sidebar{
		margin-top: 1em;

		.not-zoomed & {
		@include respond-to( 72.938em ){
			float: left;
			width: 380px;
			margin: 0 0 0 17px;
		}}
	}

	.content-header{
		position: relative;
		padding-top: 85px;
		margin: 10px 0 0;

		.not-zoomed & {
		@include respond-to( 48.000em ){
			padding-top: 70px;
		}}

		h1{
			color: $c-single-title;
			font: $font-single-title;
			font-size: emify( 28px );
			text-transform: uppercase;

			.not-zoomed & {
			@include respond-to( 48.000em ){
				font-size: emify( 48px );
			}}
		}

		.session-speaker{
			position: absolute;
			top: 0;
			color: $c-single-speaker;
			font: $font-single-speaker;
			text-transform: uppercase;
		}

		.session-meta{
			position: absolute;
			top: 35px;
			display: block;
			color: $c-single-meta;
			font: $font-single-meta;

			.date{
				display: block;
			}

			.location:before{
				content: "/";
			}

			.not-zoomed & {
			@include respond-to( 48.000em ){
				top: 45px;

				.date{
					display: inline;
				}

				.time:before{
					content: "/";
				}
			}}
		}

		.language{
			@include inline-block;
			margin: 10px 0 0;
			padding: 5px 7px;
			color: $c-single-meta;
			font: $font-single-meta;
			font-weight: bold;
			background-color: $c-single-language;
		}
	}

	.content{

		h2{
			margin: 1em 0 0.5em;
			color: $c-single-h2;
			font: $font-single-h2;
			text-transform: uppercase;
		}

		.questions{
			font-size: 16px;

			li{
				margin: 10px 0;
				padding: 0 0 0 25px;
				color: $c-single-content;
				font: $font-single-content;
				font-size: emify( 16px );
				background-image: url( '#{$img-path}bg-single-questions.png' );
				background-repeat: repeat-y;
				background-position: center left;

				.not-zoomed & {
				@include respond-to( 48.000em ){
					margin: 20px 0;
					font-size: emify( 18px );
				}}
			}
		}

		.tags{
			@include clearfix;
			margin-bottom: 20px;
			font-size: 16px;

			li{
				float: left;
				margin: 0 5px 5px 0;

				a{
					display: block;
					padding: 0 10px;
					color: $c-single-tags;
					font: $font-single-tags;
					text-decoration: none;
					text-transform: uppercase;
					background-color: $c-bg-single-tags;
				}
			}
		}
	}

	p{
		color: $c-single-content;
		font: $font-single-content;
		font-size: emify( 16px );
		margin: 1em 0;

		.not-zoomed & {
		@include respond-to( 48.000em ){
			font-size: emify( 18px );
		}}
	}

	.back-link{
		@extend .event-back-link;
		width: auto;
		float: left;
		display: none;

		a{
			height: 40px;
		}

		.not-zoomed & {
		@include respond-to( 72.938em ){
			display: block;
			margin: 20px 0 0;
		}}
	}

	.sidebar{

		h2{
			color: $c-single-sidebar-h2;
			font: $font-single-sidebar-h2;
			text-transform: uppercase;
		}

		ul.subevents{

			li{
				margin: 1em 0;

				.not-zoomed & {
				@include respond-to( 560px ){
					float: left;
					width: 48%;
					margin-right: 2%;
				}}

				.not-zoomed & {
				@include respond-to( 72.938em ){
					float: none;
					width: auto;
				}}

				.session-title{
					a{
						color: $c-single-sidebar-title;
						font: $font-single-sidebar-title;
						text-decoration: none;

						&:hover{
							text-decoration: underline;
						}
					}
				}

				.session-speaker{
					display: block;
					margin: 6px 0 4px;
					color: $c-single-sidebar-speaker;
					font: $font-single-sidebar-speaker;
				}

				.session-meta{
					display: block;
					color: $c-single-sidebar-meta;
					font: $font-single-sidebar-meta;
					text-transform: uppercase;
				}

				.session-time-slot:before,
				.session-room:before{
					content: "/";
				}
			}
		}
	}

} // page-content

.footer{

	.footer-infos{
		.not-zoomed & {
		@include respond-to( 1167px){
			padding: 20px 0;
		}}
	}

	.l-col{
		.not-zoomed & {
		@include respond-to( 700px ){
			float: left;
			width: 33.3333%;
		}}
		.not-zoomed & {
		@include respond-to( 72.938em ){
			float: left;
			width: 248px;
			margin-right: 15px;
		}}
	}

	.l-col.large{
		.not-zoomed & {
		@include respond-to( 700px ){
			float: none;
			width: 100%;
			clear: both;
			margin: 15px 0 0;
		}}
		.not-zoomed & {
		@include respond-to( 72.938em ){
			float: left;
			width: 315px;
			margin-top: 0;
			margin-right: 0;
			clear: none;
		}}
	}

	.l-col.two-elements{
		.not-zoomed & {
		@include respond-to( 560px ){
			float: right;
			width: 50%;
			margin-top: -92px;
		}}
		.not-zoomed & {
		@include respond-to( 700px ){
			float: left;
			width: 33.3333%;
			margin-top: 0;
		}}
		.not-zoomed & {
		@include respond-to( 72.938em ){
			float: left;
			width: 248px;
			margin-top: 0;
		}}
	}

	.contact-element{
		margin: 5px 0 15px;

		span{
			font-size: 1em;
		}

		.name{
			font-weight: 700;
		}

		.addressLocality,
		.postalCode{
			display: inline;
		}

		.link,
		.link a{
			text-transform: none;
		}
	}

	.social-medias{
		margin: 5px 0 10px;

		a{
			display: block;
			float: left;
			margin-right: 5px;
			line-height: 0;
		}
	}

	h3,
	.strong{
		color: $c-contactelement;
		font: $font-footer-strong;
		text-transform: uppercase;
	}

	a{
		color: $c-footer-link;
		font: $font-footer-link;
		text-transform: uppercase;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}

	.footer-bar{
		margin: 5px -15px 0;
		padding: 15px 15px 0;
		border-top: 1px solid $c-footer-bar-border;

		.l-col > div{
			margin: 8px 0 0;

			.not-zoomed & {
			@include respond-to( 560px ){
				margin: 0;
			}}

			.not-zoomed & {
			@include respond-to( 72.938em ){
				@include inline-block;

				& + div{
					margin-left: 35px;
				}
			}}
		}

		.l-col{
			.not-zoomed & {
			@include respond-to( 560px ){
				width: 50%;
				margin: 0;
			}}
		}

		.archives{

			h3{
				.not-zoomed & {
				@include respond-to( 72.938em ){
					float: left;
					margin-right: 20px;
				}}
			}

			ul{
				@include clearfix();

				li{
					float: left;
				}

				li + li:before{
					content: "/";
					color: $c-footer-link;
					margin: 0 8px;
				}
			}

			.not-zoomed & {
			@include respond-to( 560px ){
				float: left;
			}}
		}

		.right{
			.not-zoomed & {
			@include respond-to( 560px ){
				float: right;
				text-align: right;
			}}
		}
	}

} // footer

.single-page .footer .l-section-wrapper{
	border-top: 1px solid $c-footer-bar-border;

	.not-zoomed & {
	@include respond-to( 72.938em ){
		margin-top: 30px;
	}}
}