a:focus,
h2:focus,
button:focus,
input:focus{
	outline: none;
}

a:focus:not(.isHover):not(.isClicked),
h2:focus:not(.isHover):not(.isClicked),
button:focus:not(.isHover):not(.isClicked),
input:focus:not(.isHover):not(.isClicked){
	outline: $outline;
}

.linebreak:before {
	content:'\A';
	white-space:pre;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }