// Variables
// -------------------------------------------

$img-path : "../img/";
$outline  : 2px solid #ff5917;


// Couleurs
// -------------------------------------------

$c-white 							: white;
$c-darkblue 						: #333f47;
$c-darkerblue 						: #2a343b;
$c-lightblue 						: #0b5a9e;
$c-highlightblue					: #00c8ef;
$c-linkblue 						: #006b9f;
$c-orange 							: #ff5917;
$c-lightgrey 						: #cdcdcd;
$c-grey 							: #a4adb3;

$c-libeo 							: #ba0046;
$c-ixmedia 							: #00d3b8;
$c-bell 							: #ffca31;
$c-deloitte 						: #64009e;
$c-grandhall 						: #006b9f;

// -------------------------------------------

$c-bg-body 							: $c-white;
$c-bg-pagewrapper 					: $c-darkblue;
$c-bg-navmain 						: $c-darkblue;
$c-bg-navmain-subscribe				: $c-orange;
$c-bg-navmain-backlink 				: #1d272d;
$c-bg-snapmenu-mobile-link 			: $c-linkblue;
$c-bg-event-description				: $c-darkblue;
$c-bg-event-stats 	 				: $c-lightblue;
$c-bg-event-subscribe 				: $c-orange;
$c-bg-event-speakers 				: $c-lightblue;
$c-bg-single-tags 					: $c-darkblue;
$c-bg-aside-highlight 				: #242e35;
$c-bg-schedule-filters-ul 			: $c-darkblue;
$c-bg-schedule-filters-li 			: $c-linkblue;
$c-bg-schedule-filters-hover 		: $c-white;
$c-bg-schedule-filters-hover-dark	: $c-darkblue;

$c-bg-schedule-days-buttons			: $c-linkblue;
$c-bg-schedule-days-buttons-active	: $c-darkblue;
$c-bg-schedule-highlight 			: #e6f3fa;
$c-bg-schedule-bookmarked 			: $c-darkblue;

$c-bg-place 		 				: $c-white;
$c-bg-place-header-h2 				: $c-darkblue;
$c-bg-place-header-route			: $c-darkblue;
$c-bg-place-newsletter 				: $c-linkblue;
$c-bg-blog 			 				: $c-darkblue;
$c-bg-blog-nav 						: #005984;
$c-bg-about			 				: $c-darkerblue;
$c-bg-highlight 					: #1d272d;

$c-navmain 							: $c-white;
$c-navmain-subscribe				: $c-white;
$c-navmain-backlink 				: $c-white;
$c-snapmenu-mobile-link 			: $c-white;

$c-event-description				: $c-white;
$c-event-description-strong 		: $c-white;
$c-event-stats-number 	 			: $c-white;
$c-event-stats-caption 	 			: $c-white;
$c-event-subscribe 					: $c-white;
$c-event-speakers-name 				: $c-white;
$c-event-speakers-job 				: $c-white;

$c-schedule-h2 						: $c-darkblue;
$c-schedule-filters-h3 				: $c-darkblue;
$c-schedule-filters-li 				: $c-white;
$c-schedule-filters-hover			: $c-darkblue;
$c-schedule-filters-border			: #b7c6cb;
$c-schedule-border-top				: $c-darkblue;
$c-schedule-border-bottom 			: $c-white;

$c-schedule-rooms 					: $c-darkblue;
$c-schedule-border 					: #dfe5e8;
$c-schedule-days-buttons			: $c-white;
$c-schedule-timeslot 				: $c-darkblue;
$c-schedule-speaker 				: $c-darkblue;
$c-schedule-title 					: $c-linkblue;
$c-schedule-room 					: $c-darkblue;
$c-schedule-time 					: $c-darkblue;

$c-place-header-h2 					: $c-white;
$c-place-header-h2-newsletter 		: $c-white;
$c-place-header-route				: $c-highlightblue;
$c-place-border 					: $c-lightgrey;
$c-newsletter-border 				: #005b87;
$c-newsletter-input-text 			: #a2a2a2;
$c-newsletter-input-submit 			: $c-white;

$c-contactelement 					: $c-darkblue;
$c-contactelement-link 				: $c-linkblue;

$c-blog-h2 			 				: $c-white;
$c-blog-border 						: $c-darkerblue;
$c-blog-wrapper-border 				: $c-white;
$c-blog-title  						: $c-highlightblue;
$c-blog-date 						: $c-grey;
$c-blog-nav 						: $c-white;
$c-blog-content 					: $c-grey;

$c-sponsors-h2 						: #056797;
$c-sponsors-h3 						: #adb0b2;
$c-sponsors-border 					: #999fa3;

$c-about-h2 		 				: $c-white;
$c-about-h3 						: $c-white;
$c-about-p 							: $c-grey;
$c-about-border 					: $c-darkblue;
$c-about-figcaption 				: $c-white;
$c-about-volunteers 				: $c-white;

$c-single-speaker 					: $c-darkblue;
$c-single-meta 						: $c-darkblue;
$c-single-title 					: $c-darkblue;
$c-single-language 		 			: #e6f3fa;
$c-single-content 					: $c-darkblue;
$c-single-h2 						: $c-darkblue;
$c-single-tags 						: $c-white;
$c-single-aside-title-small			: $c-grey;
$c-single-aside-title-big 			: $c-grey;
$c-single-aside-content 			: $c-grey;
$c-single-aside-social 				: #00c8ef;
$c-single-sidebar-h2 				: $c-darkblue;
$c-single-sidebar-title 			: $c-linkblue;
$c-single-sidebar-speaker 			: $c-darkblue;
$c-single-sidebar-meta 				: $c-darkblue;

$c-footer-bar-border				: $c-darkblue;
$c-footer-link 						: $c-linkblue;

// Polices
// -------------------------------------------
$font-body 							: 400 emify(16px, 19px, 16px) 'Roboto', sans-serif;

$font-navmain 						: 700 emify(20px, 17px, 16px) 'Roboto Condensed', sans-serif;
$font-navmain-subscribe-big			: 700 emify(20px, 22px, 16px) 'Roboto', sans-serif;
$font-navmain-subscribe-small		: 700 emify(18px, 20px, 16px) 'Roboto', sans-serif;
$font-back-link 					: 700 emify(16px, 20px, 16px) 'Roboto Condensed', sans-serif;
$font-snapmenu-mobile-link 			: 700 emify(20px, 17px, 16px) 'Roboto Condensed', sans-serif;

$font-event-description				: 400 emify(22px, 24px, 16px) 'Lusitana', sans-serif;
$font-event-description-strong 		: 700 emify(30px, 26px, 16px) 'Roboto Condensed', sans-serif;
$font-event-stats-number 	 		: 900 emify(55px, 32px, 16px) 'Roboto', sans-serif;
$font-event-stats-caption 	 		: 400 emify(11px, 20px, 16px) 'Roboto Condensed', sans-serif;
$font-event-subscribe-big 			: 700 emify(30px, 40px, 16px) 'Roboto', sans-serif;
$font-event-speakers-name 			: 700 emify(20px, 22px, 16px) 'Roboto Condensed', sans-serif;
$font-event-speakers-job 			: 400 emify(16px, 18px, 16px) 'Lusitana', sans-serif;

$font-schedule-h2 		 			: 300 emify(36px, 40px, 16px) 'Roboto Condensed', sans-serif;
$font-schedule-filters-h3 			: 400 emify(20px, 17px, 16px) 'Lusitana', sans-serif;
$font-schedule-filters-li 			: 300 emify(16px, 14px, 16px) 'Roboto Condensed', sans-serif;

$font-schedule-rooms	 			: 700 emify(18px, 20px, 16px) 'Roboto Condensed', sans-serif;
$font-schedule-days-buttons			: 400 emify(16px, 18px, 16px) 'Roboto', sans-serif;
$font-schedule-timeslot 			: 700 emify(20px, 20px, 16px) 'Roboto', sans-serif;
$font-schedule-keynote-speaker 		: 400 emify(18px, 36px, 16px) 'Lusitana', sans-serif;
$font-schedule-keynote-title 		: 400 emify(22px, 24px, 16px) 'Roboto Condensed', sans-serif;
$font-schedule-keynote-room 		: 700 emify(18px, 24px, 16px) 'Roboto Condensed', sans-serif;
$font-schedule-panel-speaker 		: 400 emify(18px, 36px, 16px) 'Lusitana', sans-serif;
$font-schedule-panel-title 			: 400 emify(22px, 24px, 16px) 'Roboto Condensed', sans-serif;
$font-schedule-speaker 				: 400 emify(16px, 20px, 16px) 'Lusitana', sans-serif;
$font-schedule-title 				: 400 emify(18px, 20px, 16px) 'Roboto Condensed', sans-serif;
$font-schedule-room 				: 700 emify(14px, 16px, 16px) 'Roboto Condensed', sans-serif;
$font-schedule-time 				: 400 emify(18px, 24px, 16px) 'Roboto Condensed', sans-serif;

$font-place-h2 						: 300 emify(36px, 40px, 16px) 'Roboto Condensed', sans-serif;
$font-place-h2-newsletter			: 400 emify(20px, 24px, 16px) 'Roboto Condensed', sans-serif;
$font-place-header-route			: 700 emify(16px, 24px, 16px) 'Roboto Condensed', sans-serif;
$font-newsletter-input-text			: 300 emify(20px, 24px, 16px) 'Roboto Condensed', sans-serif;
$font-newsletter-input-submit		: 700 emify(16px, 24px, 16px) 'Roboto Condensed', sans-serif;

$font-contactelement-name 			: 700 emify(20px, 24px, 16px) 'Roboto Condensed', sans-serif;
$font-contactelement-telephone		: 300 emify(20px, 24px, 16px) 'Roboto Condensed', sans-serif;
$font-contactelement-email 			: 300 emify(20px, 24px, 16px) 'Roboto Condensed', sans-serif;

$font-blog-h2 			 			: 300 emify(36px, 40px, 16px) 'Roboto Condensed', sans-serif;
$font-blog-title 		 			: 300 emify(26px, 28px, 16px) 'Roboto Condensed', sans-serif;
$font-blog-date			 			: 400 emify(14px, 18px, 16px) 'Lusitana', sans-serif;
$font-blog-content 		 	 		: 300 emify(16px, 18px, 16px) 'Roboto', sans-serif;
$font-blog-nav			 			: 400 emify(16px, 22px, 16px) 'Lusitana', sans-serif;

$font-sponsors-h2 		 			: 300 emify(36px, 40px, 16px) 'Roboto Condensed', sans-serif;
$font-sponsors-h3 		 			: 400 emify(18px, 20px, 16px) 'Roboto', sans-serif;

$font-about-h2 			 			: 300 emify(36px, 40px, 16px) 'Roboto Condensed', sans-serif;
$font-about-h3 		 				: 400 emify(18px, 20px, 16px) 'Roboto', sans-serif;
$font-about-p 		 				: 300 emify(16px, 18px, 16px) 'Roboto', sans-serif;
$font-about-p-strong	 			: 700 emify(20px, 24px, 16px) 'Roboto Condensed', sans-serif;
$font-about-figcaption	 			: 400 emify(18px, 20px, 16px) 'Lusitana', sans-serif;
$font-about-highlight-p 		 	: 300 emify(20px, 24px, 16px) 'Roboto', sans-serif;
$font-about-highlight-p-strong	 	: 700 emify(20px, 24px, 16px) 'Roboto Condensed', sans-serif;
$font-about-volunteers	 			: 400 emify(16px, 20px, 16px) 'Lusitana', sans-serif;

$font-single-speaker 				: 700 emify(30px, 34px, 16px) 'Roboto Condensed', sans-serif;
$font-single-meta 					: 400 emify(18px, 20px, 16px) 'Roboto Condensed', sans-serif;
$font-single-title 					: 300 emify(48px, 52px, 16px) 'Roboto Condensed', sans-serif;
$font-single-content 				: 400 emify(18px, 24px, 16px) 'Roboto', sans-serif;
$font-single-h2 					: 300 emify(30px, 34px, 16px) 'Roboto Condensed', sans-serif;
$font-single-tags 					: 400 emify(22px, 32px, 16px) 'Roboto Condensed', sans-serif;
$font-single-aside-title-small		: 400 emify(18px, 20px, 22px) 'Roboto', sans-serif;
$font-single-aside-title-big 	 	: 700 emify(36px, 38px, 22px) 'Roboto Condensed', sans-serif;
$font-single-aside-content 			: 400 emify(16px, 18px, 16px) 'Roboto', sans-serif;
$font-single-sidebar-h2 			: 700 emify(22px, 24px, 16px) 'Roboto Condensed', sans-serif;
$font-single-sidebar-title 			: 400 emify(22px, 24px, 16px) 'Roboto Condensed', sans-serif;
$font-single-sidebar-speaker 		: 400 emify(20px, 22px, 16px) 'Lusitana', sans-serif;
$font-single-sidebar-meta 			: 700 emify(14px, 16px, 16px) 'Roboto Condensed', sans-serif;

$font-footer-strong 	 			: 700 emify(16px, 20px, 16px) 'Roboto Condensed', sans-serif;
$font-footer-link 		 			: 300 emify(16px, 20px, 16px) 'Roboto Condensed', sans-serif;