// Variables
// -------------------------------------------

$img-path : "../img/";
$outline  : #000 solid 2px;



// Couleurs
// -------------------------------------------

$c-darkblue 						: #333f47;

// -------------------------------------------

$c-bg-pagewrapper 					: $c-darkblue;



// Polices
// -------------------------------------------
//$font-body                         : emify(16px, 19px, 16px) 'Source Sans Pro', sans-serif;